<template>
  <div id="home">
    <div id="table">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h1 class="title has-text-left"> Users </h1>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <AddUserButton/>
          </div>
        </div>
      </div>
      <div>
        <UsersTable v-if="!isLoading"/>
        <div v-else id="loading"> 
          <h1 class="title">
           Loading...
          </h1>
        </div>
      </div>
    </div>
    <UserModal/>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import AddUserButton from '../components/Home/AddUserButton';
import UserModal from '../components/Home/UserModal';
import UsersTable from '../components/Home/UsersTable';
export default {
  name: "Home",
  components: {
    AddUserButton,
    UserModal,
    UsersTable
  },
  computed: {
    ...mapState('users', ['usersTableData', 'isLoading'])
  },
  created() {
    this.getUsersTableData();
  },
  methods: {
    getUsersTableData: function() {
      this.$store.dispatch('users/getUsersTableData');
    }
  },
};
</script>
<style lang="scss" scoped>
  #home {
    background-color: #dbdbdb;
    height: 100vh;
    padding: 3em;
  }
  #table {
    padding: 1em;
    background: white;
    min-height: 80vh;
  }
  #loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
