<template>
  <div @click="showUserModal" class="button is-info">
    Add User
  </div>
</template>
<script>
export default {
  methods: {
    showUserModal() {
      this.$store.dispatch('users/showUserModal', {
        operation: 'Add',
      });
    }
  },
}
</script>