<template>
  <div>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th v-for="(tableRow, index) in usersTableData.tableHeaders" :key="'table_header_' + index"> {{
            tableRow.headerName
            }} </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, index) in usersTableData.tableData" :key="'table_data_' + index">
          <td v-for="(tableRow, index) in usersTableData.tableHeaders" :key="index"> 
            <span v-if="tableRow.headerName === 'Actions'" >
              <UsersTableActionButtons :selected-user="row"/>
            </span>
            <span v-else>
              {{ row[tableRow.value] }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import {mapState} from 'vuex';
import UsersTableActionButtons from './UsersTableActionButtons';
export default {
  computed: {
    ...mapState('users', ['usersTableData'])
  },
  components: {
    UsersTableActionButtons
  }
}
</script>
