<template>
<div class="columns is-centered">
  <div class="column is-narrow">
    <button @click="showEditUserModal" class="button">
      Edit
    </button>
  </div>
  <div class="column is-narrow">
    <button @click="deleteUser" class="button is-danger">
      Delete
    </button>
  </div>
</div>
</template>
<script>

export default {
  props: {
    selectedUser: {
      type: Object,
      required: true
    }
  },
  methods: {
    deleteUser() {
      const confirmation = confirm("Are you sure you want to delete " + this.selectedUser.firstName + ' ' + this.selectedUser.lastName);
      if (confirmation) {
        this.$store.dispatch('users/deleteUser', {
          userId: this.selectedUser._id
        })
        this.$store.dispatch('users/getUsersTableData');
      }
    },
    showEditUserModal() {
      this.$store.dispatch('users/showUserModal', {
        operation: 'Edit',
        selectedUser: this.selectedUser
      });
    }
  },
}
</script>