<template>
  <div :class="modalClass">
    <div class="modal-background"></div>
    <div id="modal-card" class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ userModalOperation }} User</p>
        <button @click="closeModal" class="delete" aria-label="close"></button>
      </header>
      <section  class="modal-card-body">
        <div>
          <h2 class="subtitle has-text-left"> Basic Information </h2>
          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label has-text-left">First Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="John" v-model="firstName" required>
                </div>
              </div>
              <p v-if="errors.firstName" class="help is-danger">{{ errors.firstName }}</p>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label has-text-left">Last Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Doe" v-model="lastName" required>
                </div>
                <p v-if="errors.lastName" class="help is-danger">{{ errors.lastName }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div>
          <h2 class="subtitle has-text-left"> Physical Address </h2>
          <div class="columns is-multiline">
            <div class="column is-full">
              <div class="field">
                <label class="label has-text-left">Delivery Address</label>
                <div class="control">
                  <input class="input" type="text" v-model="deliveryAddress" placeholder="500 Whiff Oaf Lane" required>
                </div>
                <p v-if="errors.deliveryAddress" class="help is-danger">{{ errors.deliveryAddress }}</p>
              </div>
            </div>
            <div class="column is-full">
              <div class="field">
                <label class="label has-text-left">Billing Address</label>
                <div class="control">
                  <input v-if="showBillingAddress" class="input" type="text" v-model="billingAddress" placeholder="505 Whiff Oaf Lane"  required>
                </div>
                <div class="control has-text-left">
                  <label class="checkbox">
                    <input @change="setBillingAddress" type="checkbox">
                      Same as Delivery Address
                  </label>
                </div>
                <p v-if="errors.billingAddress" class="help is-danger">{{ errors.billingAddress }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="saveUser" class="button is-success">Save</button>
        <button @click="closeModal" class="button">Cancel</button>
      </footer>
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex'
export default {
  data() {
    return {
      firstName: '',
      lastName: '',
      deliveryAddress: '',
      billingAddress: '',
      userId: '',
      showBillingAddress: true,
      errors: {}
    }
  },
  computed: {
    ...mapState('users', ['selectedUser', 'userModalOperation', 'showUserModal']),

    modalClass() {
      return 'modal ' + (this.showUserModal? 'is-active' : '');
    }
  },
  watch: {
    showUserModal() {
      if(this.showUserModal && this.userModalOperation === 'Edit' && this.selectedUser){
        this.firstName = this.selectedUser.firstName;
        this.lastName = this.selectedUser.lastName;
        this.deliveryAddress = this.selectedUser.deliveryAddress;
        this.billingAddress = this.selectedUser.billingAddress;
        this.userId = this.selectedUser._id;
      }
    }
  },
  methods: {
    closeModal() {
      this.firstName = '';
      this.lastName = '';
      this.deliveryAddress = '';
      this.billingAddress = '';
      this.$store.commit('users/SET_SHOW_USER_MODAL', false);
      this.errors = {};
    },
    checkInputs() {
      this.errors = {}
      if(!this.firstName){
        this.errors.firstName = 'First Name is a required field'
      } 
      if (!this.lastName){
        this.errors.lastName = 'Last Name is a required field'
      } 
      if (!this.deliveryAddress){
        this.errors.deliveryAddress = 'Delivery Address is a required field'
      } 
      if (!this.billingAddress){
        this.errors.billingAddress = 'Billing Address is a required field'
      } 
    }, 
    setBillingAddress() {
      if(this.showBillingAddress){
        this.billingAddress = this.deliveryAddress;
      } else {
        this.billingAddress = ''
      }
      this.showBillingAddress = !this.showBillingAddress;
    },
    saveUser() {
      if(this.userModalOperation === 'Add'){
        this.checkInputs();
        if(!Object.keys(this.errors).length){
          this.$store.dispatch('users/addUser', {
            firstName: this.firstName,
            lastName: this.lastName,
            deliveryAddress: this.deliveryAddress,
            billingAddress: this.billingAddress
          })
        }
      } else {
        this.checkInputs();
        if(!Object.keys(this.errors).length){
          this.$store.dispatch('users/editUser', {
            firstName: this.firstName,
            lastName: this.lastName,
            deliveryAddress: this.deliveryAddress,
            billingAddress: this.billingAddress,
            userId: this.userId
          })
        }
      }
    }
  },
}
</script>
<style lang="scss" scoped>
  #modal-card {
    width: 70%;
  }
  @media only screen and (max-width: 760px) {
    #modal-card {
      width: 90%;
    }
}
</style>